TangoTest.json
[{"id":"e6bfeb33.422d18","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"27c19b39.e447f4","type":"http response","z":"e6bfeb33.422d18","name":"","statusCode":"","headers":{},"x":780,"y":180,"wires":[]},{"id":"c67d2578.c2d718","type":"http in","z":"e6bfeb33.422d18","name":"hello","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":180,"y":180,"wires":[["de4f90cf.6b35b"]]},{"id":"de4f90cf.6b35b","type":"function","z":"e6bfeb33.422d18","name":"Rtn Msg","func":"var os = global.get(\"os\");\nvar hit = flow.get(\"HIT\");\n\n\nif (typeof(hit) !== 'undefined' && hit !== null) {\n    hit += 1;\n}else {\n    hit = 1;\n}\n\nflow.set(\"HIT\", hit);\n\n\nvar msgs = [];\n\nvar host = os.hostname();\n\nvar helloMsg = \"Hello from Tango Test from host[\"+host+\"] hit[\"+hit+\"]\";\n\nvar freememMsg = \"freemem[\"+os.freemem()+\"]\";\n\nvar homedirMsg = \"homedir[\"+os.homedir()+\"]\";\n\nvar loadavgMsg = \"loadavg[\"+os.loadavg()+\"]\";\n\nvar platformMsg = \"type[\"+os.type()+\"] platform[\"+os.platform()+\"] release[\"+os.release()+\"]\";\n\nvar uptime = \"uptime[\"+os.uptime()+\"]\";\nmsgs.push(helloMsg);\nmsgs.push(freememMsg);\nmsgs.push(homedirMsg);\nmsgs.push(loadavgMsg);\nmsgs.push(platformMsg);\n\n\nmsg.payload = msgs;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":180,"wires":[["2414d932.3128b6"]]},{"id":"610141b9.012f6","type":"http request","z":"e6bfeb33.422d18","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:1880/hello","tls":"","proxy":"","authType":"","x":430,"y":340,"wires":[["ea08d9f8.c34208"]]},{"id":"ea08d9f8.c34208","type":"debug","z":"e6bfeb33.422d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":340,"wires":[]},{"id":"a6c2ce9b.3ba49","type":"inject","z":"e6bfeb33.422d18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":340,"wires":[["610141b9.012f6"]]},{"id":"2414d932.3128b6","type":"json","z":"e6bfeb33.422d18","name":"","property":"payload","action":"str","pretty":false,"x":600,"y":180,"wires":[["27c19b39.e447f4"]]}]